body {
    background: url(images/pizza_oven.jpg) no-repeat center center fixed;
    background-size: cover;
    padding-top: 56px;
    font-family: 'Montserrat', sans-serif;
}

#diasor {
    border: #ccc 25px;
}

.menu-top {
    margin-top: 20vh;
}
.order-top {
    margin-top: 10vh;
}

table td {
    vertical-align: middle;
}
.card-header:not(.collapsed) {
    background: #ccc;
    color: #212529;
}