body {
    background: url(images/pizza_oven.jpg) no-repeat center center fixed;
    background-size: cover;
    padding-top: 56px;
}

.szovegdoboz {
    background-color: #1714149c;
}

#diasor {
    border: #ccc 25px;
}