body {
    background: url(images/pizza_oven.jpg) no-repeat center center fixed;
    background-size: cover;
    padding-top: 56px;
    font-family: 'Montserrat', sans-serif;
    /*height: 100vh;*/
}

/*.szovegdoboz {
    background-color: #1714149c;
}*/

#diasor {
    border: #ccc 25px;
}

.menu-top {
    margin-top: 20vh;
}
/*.menu-bottom {
    margin-bottom: 20vh;
}*/
.order-top {
    margin-top: 10vh;
}

table td {
    vertical-align: middle;
}
.card-header:not(.collapsed) {
    background: #ccc;
    color: #212529;
}